@import '../../_variables.scss';
@import '../../_mixins.scss';


.master {
  display: block;
  width: 100%;
  height: 100%;
  .navigation {
      width: 4.7%;
      margin-right:0.3%;
      display: block;
      float: left;
      height: 100%;
      background-color: $panel-color;
      @include box-shadow();
  }
  
  .wrapper {
      width: 95%;
      display: block;
      float: left;
      height: 100%;
      .header {
          height: 50px;
          width: 100%;
          display: block;
          float: left;
      }
      .page {
          height: calc(100% - 50px);
          width: 100%;
          display: block;
          float: left;
      }
  }
  &.loginPage {
      .wrapper {
          width: 100%;
          .page {
              height: 100%;
          }
      }
  }
}

@media (max-width: 767px) { 
    .master {

        #sidebar {
            position: fixed;
            top: 0;
            left: -15%;
            height: 100vh;
            z-index: 999;
            transition: all 0.3s;
            width: 50px;
        }
        
        #sidebar.active {
            left: 0;
        }
        
        .wrapper {
            width: 100%;
        }
    }
}
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    
  }
  
  
  .flex-item + .flex-item,a.action-button{ 
    margin-top: 15px;
  background-color: #0066FF;
  display:inline-block;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
    justify-content: left;
    margin-top: 2.5%;
    background:#208f8f;
    border-radius:20px;
    font-size:inherit;
    color:#fff;
    box-shadow:none;
    border:none;
    text-shadow:none;
    transition:background-color 0.25s;
    width: 100%;
    padding-right: 10%;
    
  align-items: center;
}

.login-page {
    width:100%;
    height:100%;
    background-image: linear-gradient(123deg, $alt-text, $login-page-background);
    margin: 0%;
    display: flex;
    justify-content: center;
    align-items: center;

    .login {
        width: 25%;
        min-width: 200px;

        .logo {
            text-align: center;
            margin-bottom: 4%;

            img {
                width: 53%;
                height: 16%;
            }
        }

        * {
            @include border-radius(10px);
        }

        .store {
            border: #c6cad1;
        }

        select {
            background-color: transparent;
            color: #c6cad1;

            option {
                color: black;
            }
        }

        .login-btn {
            width: 100%;
            height: 34px;
            font-size: $medium-em;
            &:focus {
                outline: none;
            }
        }
    }
}

body{
    background:url(../../assets/images/bg.jpg) #444;
    background-size:cover;
    padding-bottom:80px;
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}


form
{    
    width: 37%;
    margin-left : 30%;
    margin-top: 0%;
    background: rgb(255, 255, 255);
  
    
    

}
/* Full-width input fields */
  input[type=text]{
  width: 100%;
  padding: 10px;
  padding-right: 50%;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=checkbox]{
    width: 60%;
    background: #f1f1f1;
  }

label,select{
    width: 100%;
    
    
}

h1{
    margin-left : 30%;
    color: rgb(0, 0, 0);
    align-self: center;
}

input[type=text]:focus {
  background-color: #ddd;
  outline: black;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}



/* Float cancel and signup buttons and add an equal width */
.signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}